{{extend 'layout.html'}}
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
  <script>



  var myLat;
  var myLong;

  function initialize(){
    var map;

    function success(position) {
      var mapcanvas = document.createElement('div');
      mapcanvas.id = 'mapcontainer';
      mapcanvas.style.height = '500px';
      mapcanvas.style.width = '1000px';
      document.getElementById('mapSpot').insertBefore(mapcanvas, document.getElementById('breweryList'));


      if (document.getElementById('location_Use_Current_Location').checked){


        myLat = position.coords.latitude;
        myLong = position.coords.longitude;
        //var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);



        var coords = new google.maps.LatLng(myLat, myLong);

        var options = {
          zoom: 13,
          center: coords,
          mapTypeControl: false,
          navigationControlOptions: {
            style: google.maps.NavigationControlStyle.SMALL
          },
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("mapcontainer"), options);
        var marker = new google.maps.Marker({
            position: coords,
            map: map,
            title:"You are here!",
        });


        var request = {
          location: coords,
          radius: '500',
          query: 'brewery'
        };

        service = new google.maps.places.PlacesService(map);
        service.textSearch(request, callback);



        }



      else{

        var address = document.getElementById("locQuery").value

        findLoc(address, function(la, lo){
          myLat = la;
          myLong = lo;
          console.log("inside callback function", myLat, myLong);

          var coords = new google.maps.LatLng(myLat, myLong);

          var options = {
            zoom: 13,
            center: coords,
            mapTypeControl: false,
            navigationControlOptions: {
              style: google.maps.NavigationControlStyle.SMALL
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          map = new google.maps.Map(document.getElementById("mapcontainer"), options);
          var marker = new google.maps.Marker({
              position: coords,
              map: map,
              title:"You are here!",
          });


          var request = {
            location: coords,
            radius: '500',
            query: 'brewery'
          };

          service = new google.maps.places.PlacesService(map);
          service.textSearch(request, callback);


        });

      }

    }


    function callback(results, status) {
      
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        document.getElementById("breweryList").innerHTML = ""
        for (var i = 0; i < results.length; i++) {
          var place = results[i];
          createMarker(results[i]);
          document.getElementById("breweryList").innerHTML = document.getElementById("breweryList").innerHTML + (i+1) + ") " + results[i].name +  "<br>";
        }
      }
    }


    

    function findLoc(address, cb) {

      console.log("geocoding start");

      geocoder = new google.maps.Geocoder();
      geocoder.geocode({'address': address}, function(results, status) {
        if (status != google.maps.GeocoderStatus.OK) {
          alert("Geocoder failed due to: " + status);
          
        }

        cb(results[0].geometry.location.kb, results[0].geometry.location.lb);
      });

    }



    function createMarker(place) {
      var placeLoc = place.geometry.location;

      var marker = new google.maps.Marker({
        map: map,
        position: placeLoc,
        icon:"/beerme/static/images/beer.png",
        title: place.name,
      });

    } 



      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success);
      } else {
        error('Geo Location is not supported');
      }

    }




    function toggleSearch() {

      if (document.getElementById("location_Use_Current_Location").checked){
        document.getElementById("searchBar").style["display"] = "none";
      }
      else{
        document.getElementById("searchBar").style["display"] = "inline";
      }

    }

    //google.maps.event.addDomListener(window, 'load' , initialize);
  </script>


    Use Current Location: <input type="checkbox" id= "location_Use_Current_Location" onChange= "toggleSearch()"><br>
    <div id="searchBar">Search: <input type="text" name="Search" id = "locQuery"><br></div>
    <input type="button" value="Submit" onClick = "initialize()">



  <div id="mapSpot"/>
  <div id="breweryList"/>
