{{extend 'layout.html'}}

<script language="javascript"
     src="{{=URL('static','js/discovery.js')}}">
</script>

<button onclick="ajaxButton()">Ajax Request</button>


<div name="name" id="content">

    <h1>What kind of beer are you looking for?</h1>

    <div class="tierone" id="light">
        <h2>Light Beer</h2>
    </div>

    <div class="tierone" id="dark">
        <h2>Dark Beer</h2>
    </div>

</div>

<input name="name" autofocus />

<button id="button1" onclick="ajax('datquery',['name'],'target')">I'm a button. Click me!</button>

<div id="target"></div>

{{=respd}}