
{{extend 'layout.html'}}

<script language="javascript"
     src="{{=URL('static','output/styles.js')}}">
</script>
<!-- #How to get the cat name of the style at
print "Style's category: " + styledictlist[0]['category']['name'] -->





<h2>Categories and styles!</h2>
<!-- print the categories, without repeating. -->
{{printobjects = []}}
{{for astyle in sdict:}}
{{if (astyle['category'] not in printobjects):}}
{{printobjects.append(astyle['category'])}}
{{pass}}
{{pass}}

<ul>
{{for acat in printobjects:
=LI(acat['name'], _id=acat['id'])
pass
}}
</ul>






{{=A('click me', callback=URL('printer',vars=dict(z='t')))}}